.hero{
    height: 89vh;
    background-image: url(../../assest/img/primaveraportada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    .hero__text{
        text-align: center;
        color: white;
        padding: 30px;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.534);
    }
    .hero__button{
        padding: 15px 10px;
        border: 2px solid rgba(255, 255, 0, 0.699);
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
    }
    .hero__button:hover{
        background-color: #ffca3aab;
}
}