*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.pie-pagina{
    background-color: #b8d0ebd3;
    

}

img{
    width: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  

    }
   
    .titulo{
        font-size: 25px;
        color: black;
    }
   
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;


    div{
        display: flex;
        flex-direction: column;
    }
    h3{
        color: darkslategrey;
        padding: 10px;
    
    }
    a{
        text-decoration: none;
        padding: 5px;
      
        
    }
}
form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    input{
        background:none;
        border: solid;
        padding: 10px 20px;
    }
    button{
        padding: 10px 20px;
        background: white;
        color:black;
    }
    button:hover{
        background-color: #84a59b;
    }
}


